@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}

.spinner {
  animation: spin infinite 1s linear;
  /*You can increase or decrease the timer (5s) to
   increase or decrease the speed of the spinner*/
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
