.rhap_container {
    width: auto !important;
    background-color: transparent !important;
    outline: 0;
}

.rhap_time {
    color: white !important;
}

.audio_player.playing svg {
    color: white;
}

.audio_player.playing .rhap_progress-indicator {
    background-color: white;
}

private_player {
    /* height: 90vh; */
}

/* .private_player.with_big_play_button .rhap_play-pause-button {
    position: absolute;
    top: -45vh;
    left: calc(50% - 50px);
    z-index: 111;
    width: 100px;
    height: 100px;
} */

.big_play_button_bg {
    position: absolute;
    z-index: 111;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(11, 11, 11, .75);
    color: white;
    font-size: 2em;
    text-align: center;
}

.big_play_button_bg .big_play_button_bg-close {
    opacity: .7;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.big_play_button_bg .big_play_button_bg-title {
    margin-top: 20vh;
}

.current_song {
    color: white;
    position: absolute;
    display: inline;
    width: calc(100vw - 80px);
    top: -20px;
    left: 80px;
    /* background-color: rgb(1, 1, 1, .9); */
    /* background-color: rgb(38, 73, 124); */
    white-space: nowrap;
    overflow: hidden;
}

.preview_play_button {
    display: none;
}

.private_player.with_big_play_button .preview_play_button {
    display: block;
    position: absolute;
    top: -45vh;
    left: calc(50% - 80px);
    z-index: 111;
    cursor: pointer;
}

.switch input {
    display: none;
  }
  
  .switch  {
    display: inline-block;
    width: 60px; /*=w*/
    height: 30px; /*=h*/
    margin: 4px;
    transform: translateY(50%);
    position: absolute;
    bottom: 30px;
    color: white;
    text-shadow: black 1px;
    left: 0;
    bottom: 110px;
    z-index: 9;
  }
  
  @media not all and (min-resolution:.001dpcm) { 
      @supports (-webkit-appearance: -apple-pay-button)  {
          .switch {
              bottom: 105px;
          }
      }
  }
