.playlist-select {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    background-color: rgb(22, 44, 78);
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 59px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 59px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 59px -8px rgba(0,0,0,0.75);
    transition:all .3s ease-in-out;
    z-index: 10001;
}

.playlist-select-header {
    position: relative;
    float: left;
    height: 80px;
    width:100%;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.486);
}

.playlist-select-list {
    float: left;
    height: 220px;
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-select-list ul {
    list-style:none;
    padding-left:0;
    list-style-type:none
}

.playlist-select-list ul li {
    font-size:18px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:rgb(225, 221, 255);
    cursor:pointer;
}

.playlist-select-list ul li:hover {
    opacity:0.5;
}

.exit-button {
    position:absolute;
    top:10px;
    right:10px;
    height:26px;
    width:26px;
    margin:0;
    padding:0;
    cursor:pointer;
}

.exit-button:hover {
    opacity:0.5;
}

.exit-button svg {
    color: white;
    width: 26px;
}