.preloader {
  position: absolute;
  z-index: 1111;
  width: 100vw;
  height: 100vh;
  background-color:  rgb(11, 11, 11, .75);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin infinite 1s linear;
  /*You can increase or decrease the timer (5s) to
   increase or decrease the speed of the spinner*/
}
@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
