.sidebar {
    position:absolute;
    top:0;
    left:0;
    height:90vh;
    width: 30vw;
    -webkit-box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 60px -10px rgba(0,0,0,0.75);
    z-index:100;
}

.navbar {
    position: absolute;
    right: 0;
    z-index: 5;
    width: 83%;
    background:rgb(29, 31, 61);
    background:linear-gradient(rgba(29, 31, 61), rgb(14, 8, 32));
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.title {
    color: white;
    position: absolute;
    z-index: 1;
    left: 2px;
    opacity: 0.7;
    font-size: 14px;
    font-stretch: condensed;
}
.title a {
    color: white;
}

.navbar-icon {
    padding: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    opacity: 0.6;
    color: white;
}

.navbar-icon:hover {
    opacity: 1;
}

.navbar-icon::after {
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0px;
    width: 20%;
    background: #fff;
}

.navbar-icon:hover::after {
    opacity:1;
    transition:width .1s ease-in-out;
}

.sidebar-toggler {
    position: absolute;
}

.navbar-icon-active {
    opacity:1;
}

.navbar-icon-active::after {
    opacity:1;
}

.navbar-icon img {
    width: 25px;
}

.refresh-outer {
    /* position:absolute;
    width:26px;
    top:0;
    left:50%; */
    transform:translate(-50%, 3vw);
    cursor:pointer;
    opacity:0.6;
}

.refresh-outer:hover {
    opacity:1
}

.refresh-outer img {
    width:26px;
}

.sidebar-background {
    position:absolute;
    height:90vh;
    width:15vw;
    margin:0;
    padding:0;
    filter:blur(15px) brightness(55%);
    background-image: url('/bg.jpg');
    background-position: -70px;
}

.sidebar-background-inner {
    position:relative;
    margin:0;
    padding:0;
    height:90vh;
    width:15vw;
}

.sidebar-background img {
    position:absolute;
    top:0;
    left:0;
    transform:translate(-4vw);
    width:100vw;
}

.sidebar-content {
    position: absolute;
    height: 90vh;
    width: 30vw;
    margin: 0;
    padding: 0;
    top: -90vh;
    left: 0;
    overflow: hidden;
    background: linear-gradient(rgb(22, 44, 78, 0.9),rgb(15, 20, 46, 0.5))
}


.sidebar-content-outer {
    position: absolute;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.sidebar-content-active {
    top:0;
}

.sidebar-header {
    position:relative;
    float:left;
    height: 7vh;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 74px -17px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(27, 38, 92), rgb(22, 44, 78));
}

.sidebar-header span {
    position: absolute;
    height: 7vh;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    margin: 0;
    padding-left: 10px;
    line-height: 10vh;
    text-align: left;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
}

.new-playlist-toggle {
    position: absolute;
    top: 40%;
    right: 6px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.new-playlist-form {
    position:relative;
    float:left;
    height:10vh;
    width:100%;
    margin:0;
    padding:0;
    border-bottom:1px solid rgba(255, 255, 255, 0.486);
    transition:display .1s ease-in-out;
}

.new-playlist-name {
    position:relative;
    float:left;
    height:10vh;
    width:40%;
    line-height:10vh;
    outline:none;
    border:none;
    color:#fff;
    text-align:left;
    padding-left:20px;
    font-size:14px;
    background:none;
}

.new-playlist-submit {
    position: absolute;
    height: 30px;
    width: 60px;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease-in-out
}

.new-playlist-submit:hover, .new-playlist-toggle:hover {
    background:#fff;
    color:rgb(100, 111, 172);
}

.sidebar-list {
    position: relative;
    float: left;
    height: 77vh;
    /* top: -78vh;
    transform: translateY(78vh); */
    /* height: calc(100vh - 150px); */
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    overflow-y: scroll;
    transition: height .1s ease-in-out;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
}
/* hack for Safari: */
/* @supports (overflow:-webkit-marquee) and (justify-content:inherit)  */
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: -apple-pay-button)  {
        .sidebar-list {
            height: 65vh;
        }
    }
}
@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    /* Safari and Chrome */
    .sidebar-list {
        /* height: 68vh; */
    }
    
    /* Safari only override */
    ::i-block-chrome,.sidebar-list {
        /* height: 68vh; */
    }
}

.new-playlist-form-visible {
    display: block;
}

.sidebar-list-short {
    height: 70vh;
}

.sidebar-list ul {
    list-style: none;
    padding-left: 10px;
    list-style-type: none;
}

.sidebar-list a {
    text-decoration: none;
}

.sidebar-list ul li {
    width: 95%;
    margin: 15px 0;
    display: block;
    text-align: left;
    line-height: 22px;
    font-size: 20px;
    color: rgb(254, 253, 255);
    cursor: pointer;
}

.sidebar-list ul li:hover {
    color:rgb(139, 148, 226);
}

.sidebar-list ul li.active {
    color:rgb(177, 177, 226);
}



/* .switch input {
  display: none;
}

.switch  {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 4px;
  transform: translateY(50%);
  position: absolute;
  bottom: 30px;
  color: white;
  text-shadow: black 1px;
  left: 0;
  bottom: 30px;
  z-index: 9;
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: -apple-pay-button)  {
        .switch {
            bottom: 110px;
        }
    }
} */

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  /* box-shadow: 0 0 0 2px #777, 0 0 4px #777; */
  box-shadow: 0 0 0 2px white, 0 0 4px white;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* background-color: #777; */
  background-color: white;
  border-radius: 30px;
  transform: translateX(-30px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before {
  transform: translateX(30px); /*translateX(w-h)*/
  /* background-color: limeGreen; */
  background-color: red;
}

input:checked + .slider {
  /* box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen; */
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px); /*translateX(-(w-h))*/
}

.switch200 input:checked + .slider:before {
  background-color: red;
}

.switch200 input:checked + .slider {
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}
